################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ListDemoCSharp11.Tests/bin/Debug/net7.0
/ListDemoCSharp11.Tests/obj
/Program.cs
/ListDemoCSharp11.sln
/ListDemoCSharp11.csproj
/LICENSE.txt
/.gitattributes
/Program.cs
/ListDemoCSharp11.sln
/ListDemoCSharp11.csproj
/LICENSE.txt
/.gitattributes
