################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ListDemoCSharp11.Tests/bin/Debug/net7.0
/ListDemoCSharp11.Tests/obj
